html,
body {
  min-width: 100%;
  min-height: 100%;
  background: url(images/ivan-torres-MQUqbmszGGM-unsplash.jpg) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 5rem;
  color: rgb(255, 255, 255);
  font-family: "Lobster", cursive;
}

hr {
  border: 2px solid rgb(255, 120, 79);
  border-radius: 10px;
  max-width: 65px;
}

.space {
  height: 10rem;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 200px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.btn-primary {
  background-color: rgb(255, 120, 79);
  border-color: rgb(255, 120, 79);
}

.btn-primary:hover {
  background-color: rgb(238, 105, 64);
  border-color: rgb(238, 105, 64);
}
